$boxshadow1: 0 2px 7px rgb(224, 224, 224) !important;

.form-group {
    .select {
        display: flex;
        width: 100%;

        .css-1nmdiq5-menu {
            z-index: 10;
        }

        .css-13cymwt-control {
            border: none;
            box-shadow: $boxshadow1;
        }

        .css-t3ipsp-control {
            border-color: white;
        }


        .s1 {
            width: 50%;
            display: flex;

            .address {
                width: 48%;
                margin: 2%;
                border: none;
                box-shadow: $boxshadow1;
            }
        }

        .s2 {
            width: 50%;
            display: flex;

            .address {
                width: 48%;
                margin: 2%;
            }

            .input {
                box-shadow: $boxshadow1;
                border: none;
            }
        }
    }

}

.edit-btn {
    margin-left: 10px;
}

.form {
    display: flex;
    width: 100%;

    .contain1 {
        width: 60%;
        display: flex;
        background: #fff;

        .control {
            width: 65%;
            margin: auto 2%;
            border: none;
            box-shadow: $boxshadow1;
        }

        .control2 {
            width: 35%;
            margin: auto 2%;
            box-shadow: $boxshadow1;

            .ant-select-selector {
                border: none;
            }
        }

        .name {
            width: 65%;

            .control-name {
                width: 48%;
                margin: auto 1%;
                box-shadow: $boxshadow1;
                border: none;
            }
        }
    }

    .contain2 {
        width: 40%;
        display: flex;
        background: #fff;

        .control {
            width: 65%;
            margin: auto 2%;
            border: none;
            box-shadow: $boxshadow1;
        }

        .control2 {
            width: 35%;
            margin: auto 2%;
            box-shadow: $boxshadow1;

            .ant-select-selector {
                border: none;
            }
        }
    }

}

@media only screen and (max-width: 1200px) {
    .form-group {
        .select {
            display: block;

            .s1,
            .s2 {
                width: 100%;
            }

        }


    }

    .form {
        display: inline;

        .contain1,
        .contain2 {
            width: 100%;
            margin-top: 10px;
        }
    }
}